.tableCell{
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 30%;
    background-color: rgba(29, 16, 16, 0.356);
    margin: 2px;
    line-height: 90px;
    display: inline-block;
}